*{
    margin: 0;
    padding: 0;
}

.start{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 25rem;
    left: 35rem;
}

.press_start{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-family: Matrix;
    border: 3px solid black;
    width: 20rem;
    height: 3.5rem;
    background: gold;
    color: black;
    border-radius: 20px;
}

.logo{
    width: 40rem;
    position: absolute;
    left: 26rem;
    top: 5rem;
}