* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../../Media/Images/Hieroglyphs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  position: absolute;
  font-family: Matrix;
  font-size: 60px;
  top: 17rem;
  left: 30rem;
  background: black;
  color: white;
  width: 30rem;
  justify-content: center;
  height: 4rem;
  align-items: center;
  display: flex;
}



.title {
  text-align: center;
  color: rgba(255, 67, 67, 0.014);
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), to(rgb(0, 0, 0)), color-stop(0.5, rgb(255, 255, 255)));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: black;
}

@-moz-keyframes shimmer{
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
}

.nav-items {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 22rem;
  margin-top: 20px;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  font-family: Hieroglyphics;
  border: 3px solid black;
  width: 20rem;
  height: 3.5rem;
  background: gold;
  color: black;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border-radius: 20px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nav-link:hover{
font-family: Matrix;
font-size: 50px;
}

.yugi-muto {
  position: absolute;
  bottom: 0;
  left: 5rem;
}

.seto-kaiba {
  position: absolute;
  bottom: 0;
  left: 63rem;
  height: 35rem;
}
